.addString {
    text-align: right;
}
.form {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;

}


.form input {
    border-radius: 3px;
}
.hide {
    display: none;
}
.hide + label ~ span{
    display: none;
}


.hide:checked + label + span {
    display: block;

}