.addStrClose {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px 30px 30px;
    grid-row-gap: 2px;
}

.addStrClose div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;

}

.addStrClose input {
    border-radius: 3px;
}

.addStrClose button {
    border-radius: 3px;
    grid-column-start: 5;
    grid-column-end: -1;
    font-size: 16px;
    font-family: roboto;
}

.submit:hover {
    color: gold;
    cursor: pointer;
}