.th {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.th div {
    background-color: #4e454d;
}
.sort {
    color: #ffffff;
    text-decoration: none;
}

.sort:hover {
    color: gold;
    cursor: pointer;
}