.app-wrapper {
    width: 1400px;
    margin: 0 auto;
}

.app-wrapper div {
    background-color: #3a486f;
    border: 1px solid #212941;
    border-radius: 0px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a.active {
    color: gold;
}
